[submodule "graphicsTest"]
	path = graphicsTest
	url = https://github.com/jonalf/graphicsTest.git
[submodule "5/Roy_Xu"]
	path = 5/Roy_Xu
	url = https://github.com/captiosus/Graphics.git
[submodule "5/ethan_cheng"]
	path = 5/ethan_cheng
	url = https://github.com/elc1798/stuy-gfx-utils
[submodule "5/shi_shu"]
	path = 5/shi_shu
	url = git@github.com:shishu1998/GraphicsHomework.git
[submodule "8/chris_grant"]
	path = 8/chris_grant
	url = https://github.com/chrisgco/graphics-work0.git
[submodule "4/graphics_intro"]
	path = 4/graphics_intro
	url = https://github.com/christopherliang/graphics_intro.git
[submodule "8/graphics_intro"]
	path = 8/graphics_intro
	url = https://github.com/christopherliang/graphics_intro.git
[submodule "8/christopher_liang"]
	path = 8/christopher_liang
	url = https://github.com/christopherliang/graphics_intro.git
[submodule "8/Felipe"]
	path = 8/Felipe
	url = https://github.com/felipe-mans/0-imagine-pixels.git
[submodule "8/sammi_wu leung"]
	path = 8/sammi_wu leung
	url = https://github.com/sammiWL/picmakerHW.git
[submodule "8/henry_filosa"]
	path = 8/henry_filosa
	url = https://github.com/hfilosa/my_picmaker.git
[submodule "5/rong_yu"]
	path = 5/rong_yu
	url = https://github.com/RongYu98/PictureMaker
[submodule "8/michaela_papallo"]
	path = 8/michaela_papallo
	url = https://github.com/mpapallo/Graphics_Work0.git
[submodule "5/graphics"]
	path = 5/graphics
	url = https://github.com/ivlin/graphics.git
[submodule "5/ivan_lin"]
	path = 5/ivan_lin
	url = https://github.com/ivlin/graphics.git
[submodule "4/mariya_gedrich"]
	path = 4/mariya_gedrich
	url = https://github.com/psydeolite/makerpic.git
