[submodule "graphicsTest"]
	path = graphicsTest
	url = https://github.com/jonalf/graphicsTest.git
[submodule "5/Roy_Xu"]
	path = 5/Roy_Xu
	url = https://github.com/captiosus/Graphics.git
[submodule "5/ethan_cheng"]
	path = 5/ethan_cheng
	url = https://github.com/elc1798/stuy-gfx-utils
[submodule "5/shi_shu"]
	path = 5/shi_shu
	url = git@github.com:shishu1998/GraphicsHomework.git
[submodule "8/chris_grant"]
	path = 8/chris_grant
	url = https://github.com/chrisgco/graphics-work0.git
[submodule "4/graphics_intro"]
	path = 4/graphics_intro
	url = https://github.com/christopherliang/graphics_intro.git
[submodule "8/graphics_intro"]
	path = 8/graphics_intro
	url = https://github.com/christopherliang/graphics_intro.git
[submodule "8/christopher_liang"]
	path = 8/christopher_liang
	url = https://github.com/christopherliang/graphics_intro.git
[submodule "8/Felipe"]
	path = 8/Felipe
	url = https://github.com/felipe-mans/0-imagine-pixels.git
[submodule "8/sammi_wu leung"]
	path = 8/sammi_wu leung
	url = https://github.com/sammiWL/picmakerHW.git
[submodule "8/henry_filosa"]
	path = 8/henry_filosa
	url = https://github.com/hfilosa/my_picmaker.git
[submodule "5/rong_yu"]
	path = 5/rong_yu
	url = https://github.com/RongYu98/PictureMaker
[submodule "8/michaela_papallo"]
	path = 8/michaela_papallo
	url = https://github.com/mpapallo/Graphics_Work0.git
[submodule "5/graphics"]
	path = 5/graphics
	url = https://github.com/ivlin/graphics.git
[submodule "5/ivan_lin"]
	path = 5/ivan_lin
	url = https://github.com/ivlin/graphics.git
[submodule "4/mariya_gedrich"]
	path = 4/mariya_gedrich
	url = https://github.com/psydeolite/makerpic.git
[submodule "8/jennifer_lee"]
	path = 8/jennifer_lee
	url = https://github.com/jenniferleeny/jenuine_lee.git
[submodule "8/biling_wu"]
	path = 8/biling_wu
	url = https://github.com/bilingwu/picmaker.git
[submodule "8/kevin_mejia"]
	path = 8/kevin_mejia
	url = https://github.com/kmejia/0-graphics.git
[submodule "4/jerry_lei"]
	path = 4/jerry_lei
	url = https://github.com/jerrylei98/graphics_homework.git
[submodule "4/derrick_lui"]
	path = 4/derrick_lui
	url = https://github.com/dlui220/mypicmaker.git
[submodule "4/nellie_spektor"]
	path = 4/nellie_spektor
	url = https://github.com/nspektor/GraphicsHW1.git
[submodule "4/lian_wong"]
	path = 4/lian_wong
	url = https://github.com/roguester18/image_one.git
[submodule "5/lian_wong"]
	path = 5/lian_wong
	url = https://github.com/roguester18/image_one.git
[submodule "4/loren_maggiore"]
	path = 4/loren_maggiore
	url = https://github.com/lorenrose1013/graphicsHW1.git
[submodule "5/imagemaker"]
	path = 5/imagemaker
	url = git@github.com:JayStuy/imagemaker
[submodule "5/jay_fromentrudder"]
	path = 5/jay_fromentrudder
	url = git@github.com:JayStuy/imagemaker
[submodule "5/max_fishelson"]
	path = 5/max_fishelson
	url = https://github.com/Fishelstix/graphicsHW0.git
[submodule "8/my_picmaker"]
	path = 8/my_picmaker
	url = https://github.com/Nydroam/my_picmaker.git
[submodule "8/raymond_wu"]
	path = 8/raymond_wu
	url = https://github.com/Nydroam/my_picmaker.git
[submodule "8/Andy_Tso"]
	path = 8/Andy_Tso
	url = https://github.com/PingPongPaladin/andy_tso
[submodule "4/andy_tso"]
	path = 4/andy_tso
	url = https://github.com/PingPongPaladin/andy_tso
[submodule "5/jeremy_elkayam"]
	path = 5/jeremy_elkayam
	url = https://github.com/jeremyelkayam/00picmaker.git
[submodule "4/ishraq_bhuiyan"]
	path = 4/ishraq_bhuiyan
	url = https://github.com/ishraqbhuiyan/picmaker.git
