[submodule "graphicsTest"]
	path = graphicsTest
	url = https://github.com/jonalf/graphicsTest.git
[submodule "5/Roy_Xu"]
	path = 5/Roy_Xu
	url = https://github.com/captiosus/Graphics.git
[submodule "5/ethan_cheng"]
	path = 5/ethan_cheng
	url = https://github.com/elc1798/stuy-gfx-utils
[submodule "5/shi_shu"]
	path = 5/shi_shu
	url = git@github.com:shishu1998/GraphicsHomework.git
[submodule "8/chris_grant"]
	path = 8/chris_grant
	url = https://github.com/chrisgco/graphics-work0.git
